body {
    margin-top: 0px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif'
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
}

#mainheader {
    background-color: #363caa;
}

.column {
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 50px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
  }

.container {
    position: relative;
    text-align: center;
    color: white;
  }

  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .item{
    width:200px;
    text-align:center;
    display:block;
    background-color: transparent;
    border: 1px solid transparent;
    float:center;
  }

footer {
    clear: both;
    width: 100%;
}


header,
section,
footer,
aside,
nav,
main,
article,
figure {
    display: block;
}

